.full-width-table {
  width: 100%;

  .mat-header-cell,
  .mat-cell {
    padding-left: 1rem;
    &.details-cells {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .mat-column-select {
    overflow: initial;
    width: 128px;
    border-right: 1px solid gray;
    padding: 0 0.5rem;

    &.select-gender {
      width: 262px;
    }
  }

  .expanded {
    ::ng-deep .mat-column-select {
      width: 128px;
      padding: 0 0.5rem 0 calc(0.5rem - 2px);

      &.select-gender {
        width: 262px;
      }
    }
  }
}

.table-panel {
  ::ng-deep .mat-expansion-panel-body {
    padding-left: 0;
    padding-right: 0;
  }
}
