@import "~@angular/material/theming";

.full-width-table {
  width: 100%;

  .mat-header-cell,
  .mat-cell {
    padding-left: 1rem;
    border-right: 1px solid gray;
    &.details-cells {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .mat-column-selectAll {
    width: 2rem;
  }

  .mat-column-select {
    overflow: initial;
    width: 128px;
    padding: 0 0.5rem;

    &.select-gender {
      width: 262px;
    }
  }

  .mat-column-number {
    width: 4rem;
  }

  .mat-column-name {
    width: 7rem;
  }

  .mat-column-expand {
    width: 2rem;
  }
}

@mixin theme-color-grabber($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  .bg-primary {
    background-color: mat-color($primary);
  }
  .bg-accent {
    background-color: mat-color($accent);
  }
}
