<table mat-table class="full-width-table" matSort aria-label="Elements">
  <!-- Select All Dummy Column-->
  <ng-container matColumnDef="selectAll">
    <mat-header-cell *matHeaderCellDef class="bg-accent"></mat-header-cell>
    <mat-cell *matCellDef="let row" class="bg-accent"></mat-cell>
  </ng-container>

  <!-- Select Column-->
  <ng-container matColumnDef="select">
    <mat-header-cell
      *matHeaderCellDef
      [class.select-gender]="isGenderSelectable"
    ></mat-header-cell>
    <mat-cell *matCellDef="let row" [class.select-gender]="isGenderSelectable">
      <pokedex-selection-check
        [entry]="entry"
        [form]="row"
      ></pokedex-selection-check>
    </mat-cell>
  </ng-container>

  <!-- Number Column -->
  <ng-container matColumnDef="number">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let row"></mat-cell>
  </ng-container>

  <!-- FormName Column -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>Form Name</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.formName }}</mat-cell>
  </ng-container>

  <!-- Details Column -->
  <ng-container matColumnDef="details">
    <mat-header-cell *matHeaderCellDef>Details</mat-header-cell>
    <mat-cell *matCellDef="let row">
      <pokedex-details-cell
        [entry]="entry"
        [variant]="row"
      ></pokedex-details-cell>
    </mat-cell>
  </ng-container>

  <!-- Expand Column -->
  <ng-container matColumnDef="expand">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let row"></mat-cell>
  </ng-container>

  <mat-header-row
    *matHeaderRowDef="displayedColumns"
    class="bg-accent"
  ></mat-header-row>
  <mat-row
    class="pokemon-element-row"
    *matRowDef="let row; columns: displayedColumns"
  ></mat-row>
</table>

<mat-paginator
  #paginator
  class="bg-accent"
  [length]="dataSource?.count"
  [pageIndex]="0"
  [pageSize]="5"
  [pageSizeOptions]="[5, 10, 20]"
  aria-label="Select page"
>
</mat-paginator>
