<h2 mat-dialog-title translate>FILTERS.TITLE</h2>
<mat-dialog-content>
  <form [formGroup]="form" novalidate autocomplete="off" fxLayout="column">
    <div fxLayout="row" fxLayout.lt-md="column" xLayoutWrap fxLayoutGap="2.5%">
      <mat-form-field appearance="fill" fxFlex="1 1">
        <mat-label translate>FILTERS.ORIGIN_REGION</mat-label>
        <mat-select color="primary" formControlName="origins" multiple>
          <mat-option *ngFor="let region of regions" [value]="region.id">
            {{ region.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div
      fxLayout="row"
      fxFlex="1 1"
      fxLayoutGap.gt-sm="2.5%"
      fxLayoutAlign="start start"
      fxLayout.lt-md="column"
      fxLayoutAlign.lt-md="baseline stretch"
    >
      <mat-form-field appearance="fill" fxFlex="1 1">
        <mat-label translate>FILTERS.OBTAINABLE_IN</mat-label>
        <mat-select color="primary" formControlName="obtainableIn" multiple>
          <mat-option *ngFor="let game of games" [value]="game.id">
            {{ game.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div fxLayout="column">
        <mat-checkbox
          formControlName="applyEvolutionToObtainableIn"
          color="primary"
          >{{
            "FILTERS.APPLY_EVOLUTIONS_TO_OBTAINABLE_IN" | translate
          }}</mat-checkbox
        >
        <mat-checkbox
          formControlName="applyFormsChangeToObtainableIn"
          color="primary"
          >{{
            "FILTERS.APPLY_FORMS_CHANGE_TO_OBTAINABLE_IN" | translate
          }}</mat-checkbox
        >
      </div>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>
    <span translate>COMMON.CLOSE</span>
  </button>
  <button mat-button color="primary" (click)="save()">
    <span translate>COMMON.SAVE</span>
  </button>
</mat-dialog-actions>
