<h2 mat-dialog-title translate>STATISTICS.TITLE</h2>
<mat-dialog-content>
  <div fxLayout="column" fxLayoutGap="2.5%">
    <ng-container *ngFor="let element of regionalObservables">
      <mat-divider></mat-divider>
      <h3 class="region-name">{{ formatRegion(element.region) }}</h3>
      <app-poke-statistics-bars
        app-poke-statistics-bars
        [observables]="element.observables"
      ></app-poke-statistics-bars>
    </ng-container>
    <mat-divider></mat-divider>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>
    <span translate>COMMON.CLOSE</span>
  </button>
</mat-dialog-actions>
