<form [formGroup]="form" novalidate autocomplete="off">
  <mat-card>
    <mat-card-content>
      <div fxLayout="row-reverse">
        <mat-form-field>
          <input matInput type="text" formControlName="textSearch" />
          <mat-icon matPrefix>search</mat-icon>

          <button
            *ngIf="showCleanSearch"
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="clearSearch()"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>

        <button
          mat-icon-button
          mat-stroked-button
          color="primary"
          (click)="openFilters()"
          matTooltip="{{ 'FILTERS.TOOLTIP_TEXT' | translate }}"
        >
          <mat-icon>more_horiz</mat-icon>
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</form>
