<mat-accordion multi>
  <app-regional-forms-table
    *ngIf="regionalForms"
    [regionalForms]="regionalForms"
    [selectedRegionalForms]="selectedRegionalForms"
    (regionalFormSelectionChange)="regionalFormSelectionChange($event)"
  ></app-regional-forms-table>

  <app-forms-table *ngIf="forms" [forms]="forms"></app-forms-table>

  <app-gender-diffs
    [entry]="entry"
    [selectedGenders]="selectedGenders"
    (genderSelectionChange)="genderSelectionChange($event)"
  ></app-gender-diffs>
</mat-accordion>
