.table-panel {
  ::ng-deep .mat-expansion-panel-body {
    padding-left: 0;
    padding-right: 0;
  }
}

.full-width-table {
  width: 100%;

  .mat-column-select {
    overflow: initial;
    width: 128px;

    &.select-gender {
      width: 262px;
    }
  }
}
