<mat-expansion-panel
  [expanded]="expanded"
  hideToggle
  (opened)="onPanelClick(true)"
  (closed)="onPanelClick(false)"
>
  <mat-expansion-panel-header>
    <mat-panel-title> Pokedex settings </mat-panel-title>
    <mat-icon>settings</mat-icon>
  </mat-expansion-panel-header>

  <form [formGroup]="form" novalidate>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Counting Policies</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div fxLayout="row" fxLayout.sm="column" xLayoutWrap fxLayoutGap="2.5%">
          <mat-form-field fxFlex="1 1" appearance="fill">
            <mat-label>Forms counting policy</mat-label>
            <mat-select color="primary" formControlName="countFormsPolicy">
              <mat-option
                *ngFor="let option of countFormsPolicyOptions"
                [value]="option.id"
              >
                {{ option.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex="1 1" appearance="fill">
            <mat-label>Regional forms counting policy</mat-label>
            <mat-select
              color="primary"
              formControlName="countRegionalFormsPolicy"
            >
              <mat-option
                *ngFor="let option of countRegionalFormsPolicyOptions"
                [value]="option.id"
              >
                {{ option.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex="1 1" appearance="fill">
            <mat-label>Genders counting policy</mat-label>
            <mat-select color="primary" formControlName="countGendersPolicy">
              <mat-option
                *ngFor="let option of countGendersPolicyOptions"
                [value]="option.id"
              >
                {{ option.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </mat-card-content>
    </mat-card>
  </form>
</mat-expansion-panel>
