<form [formGroup]="optionsForm" novalidate>
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Policies</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <label>Forms counting policy</label>
      <div class="radio-buttons-row">
        <mat-radio-group color="primary" formControlName="countFormsPolicy">
          <mat-radio-button value="COUNT_ALL">COUNT_ALL</mat-radio-button>
          <mat-radio-button value="NO_COUNT_VISUAL_ONLY"
            >NO_COUNT_VISUAL_ONLY</mat-radio-button
          >
          <mat-radio-button value="NO_COUNT">NO_COUNT</mat-radio-button>
        </mat-radio-group>
      </div>

      <mat-divider></mat-divider>

      <label>Regional forms counting policy</label>
      <div class="radio-buttons-row">
        <mat-radio-group
          color="primary"
          formControlName="countRegionalFormsPolicy"
        >
          <mat-radio-button value="COUNT_ALL">COUNT_ALL</mat-radio-button>
          <mat-radio-button value="NO_COUNT">NO_COUNT</mat-radio-button>
        </mat-radio-group>
      </div>

      <mat-divider></mat-divider>

      <label>Genders counting policy</label>
      <div class="radio-buttons-row">
        <mat-radio-group color="primary" formControlName="countGendersPolicy">
          <mat-radio-button value="COUNT_ALL">COUNT_ALL</mat-radio-button>
          <mat-radio-button value="COUNT_ALL_WITH_DIFFS"
            >COUNT_ALL_WITH_DIFFS</mat-radio-button
          >
          <mat-radio-button value="NO_COUNT_VISUAL_ONLY"
            >NO_COUNT_VISUAL_ONLY</mat-radio-button
          >
          <mat-radio-button value="NO_COUNT">NO_COUNT</mat-radio-button>
        </mat-radio-group>
      </div>
    </mat-card-content>
  </mat-card>
</form>
