<div fxLayout="row wrap" fxLayoutGap="6px" fxLayoutAlign="center">
  <ng-container
    *ngIf="showGender; then genderBlock; else noGenderBlock"
  ></ng-container>
</div>

<ng-template #genderBlock
  ><mat-card
    class="poke-card"
    *ngFor="let gender of genders"
    fxLayout="column"
    fxLayoutAlign="center center"
    (click)="onCardClick($event, gender)"
  >
    <div fxLayout="row" fxLayoutAlign="center center">
      <span class="gender-name">
        {{ getGenderName(gender) }}
      </span>
      <mat-icon
        *ngIf="showIcon(gender)"
        aria-hidden="false"
        aria-label="Gender Icon"
        >{{ getGenderName(gender) }}
      </mat-icon>
    </div>

    <pokedex-img [imgPath]="getImagePath(gender)"></pokedex-img>
    <mat-checkbox
      *ngIf="showCheckbox"
      color="primary"
      (click)="$event.stopPropagation()"
      (change)="$event ? changeSelection(gender) : null"
      [checked]="isSelected(gender)"
    ></mat-checkbox> </mat-card
></ng-template>

<ng-template #noGenderBlock>
  <mat-card
    class="poke-card"
    fxLayout="column"
    fxLayoutAlign="center center"
    (click)="onCardClick($event)"
  >
    <pokedex-img [imgPath]="getImagePath()"></pokedex-img>
    <mat-checkbox
      *ngIf="showCheckbox"
      color="primary"
      (click)="$event.stopPropagation()"
      (change)="$event ? changeSelection() : null"
      [checked]="isSelected()"
    ></mat-checkbox>
  </mat-card>
</ng-template>
