<h2 mat-dialog-title translate [translateParams]="{ name: name }">
  DETAILS.TITLE
</h2>
<mat-dialog-content>
  <div fxLayout="column" fxLayoutGap="2.5%">
    <div fxLayout="row wrap" fxLayoutGap="6px">
      <mat-card
        class="poke-card"
        *ngFor="let gender of genders"
        fxLayout="column"
        fxLayoutAlign="center center"
      >
        <div fxLayout="row" fxLayoutAlign="center center">
          <span class="gender-name">
            {{ getGenderName(gender) }}
          </span>
          <mat-icon
            *ngIf="showIcon(gender)"
            aria-hidden="false"
            aria-label="Gender Icon"
            >{{ getGenderName(gender) }}
          </mat-icon>
        </div>

        <pokedex-img [imgPath]="getImagePath(gender)"></pokedex-img>
      </mat-card>

      <div fxLayout="column" fxLayoutAlign="start strech" fxFlex>
        <mat-divider></mat-divider>

        <h3 class="info-header" translate>DETAILS.REGION_ORIGIN</h3>
        <p class="info-data">{{ originRegion }}</p>

        <mat-divider></mat-divider>

        <h3 class="info-header" translate>DETAILS.RARITY</h3>
        <p class="info-data" translate>{{ rarity }}</p>

        <mat-divider></mat-divider>

        <h3 class="info-header" translate>DETAILS.TYPES</h3>
        <pokedex-types [types]="types"></pokedex-types>

        <mat-divider></mat-divider>
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>
    <span translate>COMMON.CLOSE</span>
  </button>
</mat-dialog-actions>
