<pokedex-options></pokedex-options>
<pokedex-statistics></pokedex-statistics>
<pokedex-search></pokedex-search>

<div class="mat-elevation-z8">
  <mat-table
    class="full-width-table"
    matSort
    aria-label="Elements"
    multiTemplateDataRows
  >
    <!-- Select All Column-->
    <ng-container matColumnDef="selectAll">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row" [class.bg-accent]="expanded === row">
        <pokedex-selection-all [entry]="row"></pokedex-selection-all>
      </mat-cell>
    </ng-container>

    <!-- Select Column-->
    <ng-container matColumnDef="select">
      <mat-header-cell
        *matHeaderCellDef
        [class.select-gender]="isGenderSelectable"
      ></mat-header-cell>
      <mat-cell
        *matCellDef="let row"
        [class.select-gender]="isGenderSelectable"
      >
        <pokedex-selection-check [entry]="row"></pokedex-selection-check>
      </mat-cell>
    </ng-container>

    <!-- Number Column -->
    <ng-container matColumnDef="number">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Number</mat-header-cell
      >
      <mat-cell *matCellDef="let row">#{{ row.number }}</mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.name }}</mat-cell>
    </ng-container>

    <!-- Types Column -->
    <ng-container matColumnDef="types">
      <mat-header-cell *matHeaderCellDef>Types</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <pokedex-types [types]="row.types"></pokedex-types>
      </mat-cell>
    </ng-container>

    <!-- Expand Column -->
    <ng-container matColumnDef="expand">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row">
        <div fxLayout="row" fxLayoutAlign="center center">
          <mat-icon *ngIf="row.hasVariants">{{
            row == expanded ? "expand_less" : "expand_more"
          }}</mat-icon>
        </div>
      </mat-cell>
    </ng-container>

    <!-- Expanded Content Column -->
    <ng-container matColumnDef="expandedDetail">
      <mat-cell class="details-cells" *matCellDef="let row">
        <div class="pokemon-element-detail">
          <pokedex-variants-table
            *ngIf="row.hasVariants"
            [entry]="row"
          ></pokedex-variants-table>
        </div>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row
      *matRowDef="let row; columns: displayedColumns"
      class="pokemon-element-row"
      [class.expandable]="row.hasVariants"
      (click)="row.hasVariants ? expand(row) : null"
    ></mat-row>
    <mat-row
      *matRowDef="
        let row;
        columns: ['expandedDetail'];
        when: isExpansionDetailRow
      "
      class="details-row"
      [class.expanded]="expanded === row"
      [@detail-expand]="row == expanded ? 'expanded' : 'collapsed'"
    ></mat-row>
  </mat-table>

  <mat-paginator
    #paginator
    class="main-paginator"
    [length]="dataSource?.count"
    [pageIndex]="0"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 20]"
    aria-label="Select page"
    showFirstLastButtons
  >
  </mat-paginator>
</div>
