.pokemon-element-row {
  &.expandable {
    &:not(.expanded) {
      &:hover {
        background: whitesmoke;
      }
      &:active {
        background: whitesmoke;
      }
    }
  }
}

.pokemon-element-detail {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.details-row {
  overflow: hidden;
}

.main-paginator {
  position: sticky;
  bottom: 0;
}
