.pokemon-detail-row {
  height: 0;
}

.pokemon-element-row {
  &.expandable {
    &:not(.expanded) {
      &:hover {
        background: whitesmoke;
      }
      &:active {
        background: whitesmoke;
      }
    }
  }
}

.pokemon-element-detail {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
