.mat-column-number {
  width: 2rem;
  border-right: 1px solid gray;
}

.pokemon-detail-row {
  height: 0;
}

.pokemon-element-row {
  td {
    border-bottom-width: 0;
  }
  &.expandable {
    &:not(.expanded) {
      &:hover {
        background: whitesmoke;
      }
      &:active {
        background: whitesmoke;
      }
    }
  }
}

.pokemon-element-detail {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
