.mat-column-number {
  width: 2rem;
  border-right: 1px solid gray;
}

.pokemon-detail-row {
  height: 0;
  &.expanded {
    td {
      border-bottom: 2px solid black;
      border-left: 2px solid black;
      border-right: 2px solid black;
    }
  }
}

.pokemon-element-row {
  td {
    border-bottom-width: 0;
  }

  &.expanded {
    td {
      border-bottom-width: 1px;

      border-top: 2px solid black;
      &:first-child {
        border-left: 2px solid black;
      }
      &:last-child {
        border-right: 2px solid black;
      }
    }
  }

  &.expandable {
    &:not(.expanded) {
      &:hover {
        background: whitesmoke;
      }
      &:active {
        background: whitesmoke;
      }
    }
  }
}

.pokemon-element-detail {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
