<app-pokedex-options></app-pokedex-options>
<app-pokedex-search></app-pokedex-search>
<div class="mat-elevation-z8">
  <table
    mat-table
    class="full-width-table"
    matSort
    aria-label="Elements"
    multiTemplateDataRows
  >
    <!-- Select Column-->
    <ng-container matColumnDef="select">
      <th
        mat-header-cell
        *matHeaderCellDef
        [class.select-gender]="showGenders"
      ></th>
      <td mat-cell *matCellDef="let row" [class.select-gender]="showGenders">
        <app-poke-selection-check [entry]="row"></app-poke-selection-check>
      </td>
    </ng-container>

    <!-- Id Column -->
    <ng-container matColumnDef="number">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Number</th>
      <td mat-cell *matCellDef="let row">{{ row.number }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let row">{{ row.name }}</td>
    </ng-container>

    <!-- Expanded Content Column -->
    <ng-container matColumnDef="expandedDetail">
      <td
        mat-cell
        *matCellDef="let row"
        [attr.colspan]="displayedColumns.length"
      >
        <div
          class="pokemon-element-detail"
          [@detail-expand]="row == expanded ? 'expanded' : 'collapsed'"
        >
          <app-poke-entry-details [entry]="row"></app-poke-entry-details>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      class="pokemon-element-row"
      [class.expandable]="isExpandable(row)"
      [class.expanded]="expanded === row"
      (click)="isExpandable(row) ? expand(row) : null"
    ></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: ['expandedDetail']"
      class="pokemon-detail-row"
    ></tr>
  </table>

  <mat-paginator
    #paginator
    [length]="dataSource?.count"
    [pageIndex]="0"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 20]"
    aria-label="Select page"
  >
  </mat-paginator>
</div>
