<div fxLayout="row" fxLayout.sm="column" xLayoutWrap fxLayoutGap="2.5%">
  <div
    class="poke-stats"
    fxLayout="column"
    fxFlex="1 1"
    fxLayoutGap="1%"
    fxLayoutAlign="center center"
  >
    <mat-progress-bar
      mode="determinate"
      [value]="selectedPokemonValue"
    ></mat-progress-bar>
    <p>{{ selectedPokemon }} of {{ allPokemon }} Pokemon</p>
  </div>

  <div
    *ngIf="showFormsStatistics"
    class="poke-stats"
    fxLayout="column"
    fxFlex="1 1"
    fxLayoutGap="1%"
    fxLayoutAlign="center center"
  >
    <mat-progress-bar
      mode="determinate"
      [value]="selectedFormsValue"
    ></mat-progress-bar>
    <p>{{ selectedForms }} of {{ allForms }} Forms</p>
  </div>
</div>
